 .notification-row {
    outline: none;
  }
  
  .notification-row:focus,
  .notification-row:hover {
    background: #370617;
  }
  
  .notification {
    border-radius: 12px;
    margin: 6px 12px;
    padding: 0;
    background-color: #6A040F;
    color: #FFBA08;
    border-color: #FFBA08;
  }
